doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700,800,900")
    style(type='text/css').
      body {
        color: #545454;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 800px;
        padding: 2em 2em 4em;
        font-family: Exo, Arial, sans-serif;
      }
      .header {
        text-align: center;
      }
      .logo {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 100000px;
        display: block;
        margin: auto;
      }
      .logo-container {
        width: 100%;
      }
      .advantages-table {
        vertical-align: top;
      }
      .advantages-table td {
        padding: 5px;
      }

    body
      div.logo-container
        img(class="logo" src="https://i.imgur.com/oqyC2p5.png" alt="App Logo")
      
      h2.header Benvingut/da a Deporunners!
      p
        | A partir d'avui, no només formes part d’un club de Trail, formes part d’una comunitat de persones amb les mateixes inquietuds i aficions!
        br
        br
        | Us proposem un nou espai, on fer activitats grupals setmanals, entrenos, curses, xerrades o testejar nous materials esportius. Un lloc de confluència esportiva, on gaudir del medi natural i la muntanya, sigui el nexe de connexió entre tots nosaltres!
        br
        br
        | Quins avantatges tindràs al ser soci/a de Deporunners?            
      
      table
        tbody.advantages-table
          tr
            td
              strong Avantatges generals:
              ul
                li Pistes gratis amb carnet
                li Quota Aqua Sports 39€ mes
                li Perruqueria i estètica Doina 10% descompte en tot
                li Prova esforç 20€ descompte a CRF Vilanova
                li Calserra 10% de descompte
                li Fisiolab 10% de descompte
                li Sorteigs aris i descomptes a Curses de Muntanya                
                li Pintures Versalles 10%
                li Perruqueria Canina Ayza 5€ de descompte
            td
              strong Avantatges primer any:
              ul
                li Entrega de la Samarreta tècnica oficial del Club.
      
      p
        | El teu compte ja ha estat registrat. Les teves dades son les següents:
        br
        br
        | Usuari: 
        strong #{member.dni}
        br
        | Contrasenya: 
        strong #{member.dni} 
        br
        br
        | La contrasenya la podràs canviar dins l'aplicació móbil.